.header {
  background-color: var(--clr-primary);
  top: 0;
  position: sticky;
  z-index: 2;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.content a {
  font-size: 1.5rem;
  color: var(--clr-white);
}
